.paymentcard {
  height: 15rem;
  width: 15rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  margin-left: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  &:first-child {
    margin-left: 0;
  }
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
  }
  i {
    font-size: 1.8rem;
    color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  &__nactive {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 50%;
  }
  &__active {
    animation: showactivecard 0.4s ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes showactivecard {
  0% {
    transform: scale(0);
  }

  100% {
    background-color: var(--primary-color);
    transform: scale(150%);
  }
}
