@import "../../base.scss";
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 6rem;
  transition: all 0.2s ease-out;
  box-shadow: 0 1rem 2rem rgba(#000, 0.1);
  z-index: 800;
  width: 20rem;
  background-color: #fff;
  @media only screen and (max-width: 50em) {
    right: 0;
    top: 3rem;
  }
  .dropdown-item {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--font-color);
    font-weight: 600;
    transition: all 0.1s ease-out;
    &:hover {
      background-color: #f7f7f7;
    }
  }
}
.dropdown-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 6rem;

  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}
