.cart {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 3rem;
  column-gap: 2.5rem;
  &__empty-message {
    grid-column: 3/4;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--font-color);
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__items {
    grid-column: 1 / 7;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;

    display: grid;
    grid-template-columns: min-content repeat(3, 1fr);
    background-color: white;
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: var(--border);
    border-radius: 0.5rem;
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
  }
  &__items-header {
    font-size: 1.3rem;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__checkout-container {
    grid-column: 7 / -1;

    align-self: start;
    border: var(--border);
    padding: 2.5rem;
  }
  &__total-info {
    width: 100%;
    &-heading {
      padding: 1rem 0;
      color: var(--primary-color);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: var(--border);

      &--primary {
        font-size: 1.2rem;
      }
      &--secondary {
        font-size: 2rem;
        margin-left: 1rem;
      }
    }
  }
}
