// BreakPoints
//Home Page
$bp-home-screen-large: 50em;

// Product Detail Page
$bp-detail-screen-large: 59.38em; // 1000
$bp-detail-screen-small: 37.5em; // 600
// Cart Page
$bp-cart-screen-large: 56.25em;
$bp-cart-screen-small: 37.5em;
// Grid Container
$bp-grid-large: 53.1em;

// Auth Page
$bp-auth-screen-large: 50em;

// Confirm Order Page
$bp-confirm-page-large: 62.5em;
$bp-confirm-page-small: 37.5em;
$bp-confirm-page-extra-small:34.4em;
// Orders Page
$bp-orders-page-extra-small:29.5em;
// Admin Page
$bp-admin-page-large:37.5em;