@import "./base.scss";
:root {
  --primary-color: #1d3557;
  --secondary-color: #f1faee;
  --tertiary-color: #e63946;
  --error-color: rgb(167, 17, 17);
  --border: 2px solid rgba(161, 163, 165, 0.1);
  --font-color: #393e41;
  --success-color: rgb(8, 143, 48);
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-cart-screen-small) {
    font-size: 50%; // 8px
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.heading__main {
  color: var(--primary-color);
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 400;
}

.btn {
  &--primary {
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  &__center-container {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }
}

.initial__loader-container {
  height: 100vh;
  width: 100vw;
}

.checkout {
  &__container {
    grid-column: col-start 2 / col-end 7;
    position: relative;
    border: var(--border);
    border-radius: 1rem;
    padding: 5rem;
  }
  &__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--font-color);
  }
}

.line {
  background-color: rgba(#393e41, 0.1);
  height: 1px;
  width: 100%;
}

.content-loader-container {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.error-container {
  text-align: center;
  padding: 1rem 0;
}
.admin__table-item {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: --var(font-color);
  &--bold {
    font-weight: 500;
  }
}
