.header {
  background-color: var(--primary-color);
  height: 6rem;
  grid-column: 1/-1;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  &-nav {
    height: 6rem;
    grid-column: center-start / center-end;
    align-items: center;
    justify-items: start;
    display: grid;
    grid-template-columns: [logo-start] min-content [logo-end search-box-start] max-content [search-box-end navbar-start] 1fr [navbar-end];
    column-gap: 2rem;
    &__logo {
      color: var(--secondary-color);
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      padding: 0.5rem 0;
      border-top: 1px solid var(--secondary-color);
      border-bottom: 1px solid var(--secondary-color);
      text-decoration: none;
      &:hover {
        color: var(--secondary-color);
      }
    }
    ul {
      list-style-type: none;
      justify-self: end;
      height: 100%;
      display: flex;
      //   justify-content: center;
      align-items: center;
    }
    &__link {
      height: 100%;
      padding: 0px 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: var(--secondary-color);
      font-weight: 500;
      position: relative;
      cursor: pointer;
      &:last-child {
        padding-right: 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      i {
        margin-right: 0.8rem;
      }
    }
  }
}
