.pagination {
  grid-column: center-start / center-end;
  &__box-container {
    display: grid;
  grid-template-columns: repeat(20,max-content);
  grid-auto-flow: row;
  justify-content: center;
  @media only screen and (max-width: 60em) {
    grid-template-columns: repeat(10,max-content);
  } 
  }
  &__box {
    padding: 1rem 1.5rem;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
    border-bottom: 4px solid #f7f7f7;

    &--active {
      border-bottom: 4px solid var(--primary-color);
    }
    &:hover {
      border-bottom: 4px solid var(--primary-color);
    }
  }
}
