@import "../../base.scss";
.qty-input {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  &__btn {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.2rem solid var(--primary-color);
    cursor: pointer;
    @media only screen and (max-width: $bp-cart-screen-small) {
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;
    }
  }
  &__field,
  &__field:focus {
    border: 0.2rem solid rgba(224, 224, 224, 0.5);
    width: 5rem;
    padding: 1rem 0.3rem;
    outline: none;
    background-color: #fff;
    @media only screen and (max-width: $bp-cart-screen-small) {
      padding: 0.5rem 0.1rem;
      font-size: 1.2rem;
      width: 3rem;
    }
  }
}
