.cart-item {
  position: relative;
  justify-items: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: var(--border);
  &:last-child {
    margin-bottom: 0;
    border: none;
  }
  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    padding: 0.3rem;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
    grid-column: 4 / 5;
    z-index: 5;
    position: relative;
    border: 1px solid rgba(161, 163, 165, 0.5);
    border-radius: 50%;

    // position: absolute;
    cursor: pointer;
    justify-self: end;
    align-self: start;
  }
  &__image {
    height: 8rem;
    width: 8rem;
  }
  &__name {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-transform: capitalize;
    font-weight: inherit;
    color: var(--font-color);
    font-weight: 500;

    // text-align: center;
  }
  &__price {
    // font-size: ;
    flex: 1;
    font-weight: inherit;
    letter-spacing: 2px;
  }
  &__total {
    grid-column: 4/5;
  }
}
